<div class="card-camera" role="button">
  <img src="https://images.unsplash.com/photo-1502920917128-1aa500764cbd" />
  <div class="card-camera-infos">
    <div>
      <h2><%= camera.name %></h2>
    </div>
    <h2 class="card-camera-pricing">€<%= camera.price_per_day %></h2>
  </div>
</div>
